# Archivos objetos
*.o

# Archivos ejecutables
*.out
*.exe

# Archivos de librería
*.a
*.so
*.dll

# Carpetas comunes de compilación
/build/
/bin/
/obj/

# Creado por https://www.toptal.com/developers/gitignore/api/visualstudiocode
# Editar en https://www.toptal.com/developers/gitignore?templates=visualstudiocode

### Código de Visual Studio ###
.vscode/*
!.vscode/configuraciones.json
!.vscode/tareas.json
!.vscode/launch.json
!.vscode/extensiones.json
!.vscode/*.fragmentos-de-código

# Historial local para Visual Studio Code
.historia/

# Extensiones de código de Visual Studio creadas
*.vsix

### Parche de VisualStudioCode ###
# Ignorar todo el historial local de archivos
.historia
.ionuro

# Fin de https://www.toptal.com/developers/gitignore/api/visualstudiocode